@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #fff;
    padding: 15px 0;
}   

.archway-icon {
    color: #777
}

.header-right {
    float: right;
    padding: 10px 15px; 
    background-color: #6ba7eb;
}

.contact {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s;
}

.contact:hover {
    color: #333
}

.keyvisual {
    padding: 400px 0;
    background-image: url(../images/keyvisual/keyvisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.main-title {
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #6ba7eb;
}

.sub-title {
    font-size: 40px;
    font-weight: 700;
    padding-top: 15px;
    color: #fff;
}

.news {  
    background-color: #e3f2fd;
    padding-top: 50px;
}

.news-area {
    display: flex; 
    width: 100%; 
}

.news-content {
    width: 40%;
}

.news-icon {
    display: block;
    width: 250px;
    height: auto;
    margin-left: 80px;
    margin-top: 10px;
}

.news-section {
    width: 60%;
    padding-left: 0;
}

.news-section-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px; 
    padding-top: 20px;
    margin-bottom: 35px;
}

.news-text {
    text-align: center;
    font-size: 15px; 
    line-height: 18px;
    word-break: break-all;  
}

.skills {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-section-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    margin: 0 0 50px 0;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-content a {
    display: block;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 100px;
    width: calc((100% - 200px) / 3);
}

.skills-content a:nth-child(3n) {
    margin-right: 0;
}

.skills-icon {   
    display: block;
    width: 300px;
    height: 300px;
    object-fit: contain;
    opacity: 0.7;
    transition: 0.3s;   /*ホバーアニメーション追加*/
}

.skills-icon:hover {
    opacity: 1.0;
    transform: scale(1.1);   /*ホバーアニメーション追加*/
}

.plan {
    padding: 50px 0;
    background-color: #d0dfea;
}

.selectplan-section-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

table{
    table-layout: fixed;
    width: 100%;
}

table tr:nth-child(odd) {
    background: #f9f9f9;
}

table tr:nth-child(even) {
    background: #e0efff;
}

.selectplan thead th{
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
    background-color: #6ba7eb;
    border: 2px solid #fff;
    border-top:none;
    border-bottom: none;
    border-right:none;
}

th:first-child:first-child {
    border-left: none;
}

.selectplan tbody th {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #fff;
    border-top: none;
}

.selectplan tbody td {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding: 10px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
}

.sns {
    padding: 200px 0;
    background-color: #e3f2fd;
}

.sns-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px; 
}

.sns-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 185px;
    height:185px;
    font-size: 40px;
    margin: 25px 10px;
    color: #8c8c8c;
    overflow: hidden; 
    transition: background-color 0.5s;   /*ホバーアニメーション追加*/
    background-color: #e3f2fd;   /*ホバーアニメーション追加*/
    transition: 0.3s;   /*ホバーアニメーション追加*/
}

.sns-icon:hover {
    transform: scale(1.1);   /*ホバーアニメーション追加*/
    background-color: #6ba7eb;   /*ホバーアニメーション追加*/
    color: #fff;   /*ホバーアニメーション追加*/
    
}

footer {
    padding: 25px 0;
    background-color: #cfd8dc;
}

.footer-title {
    margin :0px;
    font-size: 13px;
    text-align: right;
    letter-spacing: 0.5px;
}

/*-----------------TAB版----------------- */
@media (max-width: 1199px) {

.inner {
    width: 90%;
    margin: 0 auto;  
}

.keyvisual {
    padding: 250px 0;
}

.news {
    padding-top: 50px;
    padding-bottom: 50px;  
}

.news-area {
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.news-content{
    width: 100%;
}
  .news-section {
    width: 100%;
}

  .news-icon {
    margin: 0 auto;  
}

.news-text {
    max-width: 1100px;
    width: 100%;
    text-align: left;
}

.skills {
    padding-bottom: 0;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: auto;   
}

.skills-content a {
    width: 100%;       
    margin-right: 0;
    margin-bottom: 0;
}

.skills-content a:nth-child(3n) {
    margin-bottom: 80px; 
}

.skills-content a:nth-child(7),
.skills-content a:nth-child(11) {
     margin-bottom: 80px;
}

.skills-icon {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
}


/*-----------------SP版----------------- */
@media (max-width: 767px) {

html,body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.inner {
    width: 100%;
    padding: 0 15px;
}

.header-right {
    display: none;
}

.hamburger { 
    display: block;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.hamburger span {
    margin-top:35px;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #cfd8dc;
    border-radius: 3px;
    transition: all .25s ease;
}

.hamburger span:nth-child(1){ top: 0; }
.hamburger span:nth-child(2){ top: 10px; }
.hamburger span:nth-child(3){ top: 20px; }

.keyvisual {  
    height: 280px;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.common-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    transform:scale(0.53);
    transform-origin: center center;
}

.main-title {
    font-size: 40px;
    
}

.sub-title {
    font-size: 30px;
    margin-left: 0;
}

.news {   
    padding-top: 30px;
    padding-bottom: 30px;
}

.news-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content{
    width: 100%;
}

.news-section {
    width: 100%;
}

.news-icon {
    width: 100%;
    margin: 0 auto;
    width: 160px;
}

.news-section-title {
    font-size: 25px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.news-text {
    font-size: 8px;
    line-height: 11px;
    text-align: center;
}

.skills {
    padding-top: 30px;
    padding-bottom: 0;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.skills-content a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
}

.skills-content a:nth-child(3n) {
    margin-bottom: 80px;
}

.skills-content a:nth-child(7),
.skills-content a:nth-child(11) { 
    margin-bottom: 80px;
}

.skills-section-title {
    white-space: nowrap;
    letter-spacing: 5px;
    font-size: 25px;
    margin-bottom: 30px;
}

.skills-icon {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto; 
    object-fit: cover;
}

.plan {
    height: 250px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selectplan-section-title {
    letter-spacing: 5px;
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
    text-align: center;
}

.selectplan {
    width: 700px;
    height: 100px;
    left: 50%;
    position: relative;
    margin-top: -40px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    transform: translateX(-50%) scale(0.45);
    transform-origin: center center;
}

.selectplan thead th {
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;
}

.selectplan tbody th {
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;
}

.selectplan tbody td {
  font-size: 12px;
}

.sns {
    width: 100%;
    height: 700px;
    padding: 50px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sns-icon {
    width: 100%;
    height: 50px;
    max-width: 50px;
    margin: 0;
    align-items: center;
    transform: scale(0.5);
    transform-origin: center center;
}

footer {
    padding: 15px 0;
    background-color: #cfd8dc;
}

.footer-title {
    margin :0px;
    font-size: 7px;
    letter-spacing: 0.5px;
    text-align: right;
}
}

/*-----------ローディングアニメーション-----------*/

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
}

.spinner {  
    width: 60px;
    height: 60px;
    border: 6px solid rgba(107,167,235,0.2);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 6px solid #6ba7eb;
    border-radius: 50%;
    border-top-color: transparent;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
      transform: rotate(0deg);  
    }
    100% {
      transform: rotate(360deg);
    }
}

/*-----------スクロールアニメーション-----------*/
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}